<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fonts</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css">
    <style>
        {{#each fonts}}
            @import url(/?font={{this}});
        {{/each}}
        table {
            color: black;
        }
        .container {
            margin-top: 50px;
            max-width: 750px;
            font-size: xx-large;
            align-self: center;
            text-align: center;
        }
        .copy {
            float: right;
            color: black;
        }
        .copy:hover {
            color: grey;
            cursor: pointer;
        }
        .font-name {
            float: left;
        }
        a {
            color: black;
        }
        a:hover {
            color: grey;
            text-decoration: none;
        }
    </style>
</head>
<body>
    <div class="container">
        <table class="table table-striped">
            <h1>Available Fonts</h1>
            <hr>
            <tbody>
                {{#each fonts}}
                    <tr>
                        <th style="vertical-align: middle;" scope="row" class="font-name">
                            <span style="font-family: {{this}};">
                                <a href="/preview?font={{this}}">{{this}}</a>
                            </span>
                        </th>
                        <th>
                            <span class="copy" onclick="copyText(this.id)" id="{{this}}">
                                <i class="fas fa-copy"></i>
                            </span>
                            
                        </th>
                    </tr>
                {{/each}}

            </tbody>
        </table>
    </div>
    <script>
        function copyText(id) {
            var link = `${window.location.protocol}//${window.location.host}/?font=${id}`
            navigator.clipboard.writeText(link);
        }
    </script>
</body>
</html>